// Widget custom pour Eventbrite
// --------------------------------------------------
.eb_event_list {
  display: block;
  .eb_event_list_item {
    background-color: lighten($gray-light, 5%);
    @include margin-top-large();
    @media (min-width: $screen-sm-min) {
      &:not(:first-child) {
        @include margin-top-large();
      }
    }

    &:last-child {
      @include margin-bottom-large();
    }
    .info-item {
      @include padding-base();
      h2 {
        color: $gray-dark;
        font-size: $font-size-h2;
        @include margin-none();
        @include padding-vertical-base();
      }
      .suscribe {
        display: block;
        // @include padding-large();
        // background-color: $ippon-primary;
        a {
          color: $ippon-primary;
          display: inline;
          @include padding-vertical-large();
          &:hover {
            border-bottom: 0;
          }
          @media (min-width: $screen-sm-min) {
            display: inline-block;
            @include padding-vertical-none();
            &:hover {
              border-bottom: 1px dotted;
            }
          }
        }

      }
      .author {
        color: $gray;
        font-size: pxtoem($font-size-meta);
        text-transform: uppercase;
      }
    }

    .main-item {
      background-color: $ippon-primary;
      color: $light;
      display: block;
      a {
        color: $light;
        text-decoration: none;
      }
      .date-item {
        border-bottom: 0;
        display: inline-block;
        padding-right: $padding-small-horizontal;
        text-transform: uppercase;
        @include padding-base();
      }
      .beveling {
        width: 0;
        height: 0;
        border-top: ($font-size-base * 1.5) + ($padding-base-vertical * 2) solid $light;
        border-left: ($font-size-base * 1.5) + ($padding-base-vertical * 2) solid transparent;
        @media (min-width: $screen-sm-min) {
          border-top: ($font-size-small * 1.5) + ($padding-base-vertical * 2) solid $light;
          border-left: ($font-size-small * 1.5) + ($padding-base-vertical * 2) solid transparent;
        }
      }
    }
  }
}