// Widget custom pour afficher les liens des réseaux sociaux Ippon
// --------------------------------------------------
.widget_ippon_rs {
  
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  font-size: pxtoem(24px);
  -webkit-justify-content: space-between;
  justify-content: space-between;
  
  @include aside-secondary();
  @include padding-horizontal(6px);
  a {
    &:hover {
      border-bottom: 0;
    }
  }
}