// Widget custom pour afficher les liens des réseaux sociaux Ippon
// --------------------------------------------------
.widget_ippon_rs {
  
  display: -webkit-box;      
  display: -moz-box;         
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  font-size: pxtoem(24px);
  -webkit-justify-content: space-between;
  justify-content: space-between;
  a {
    &:hover {
      border-bottom: 0;
    }
  }
}

.no-flexbox .widget_ippon_rs {

  display: -webkit-box;
  display: -moz-box;
  display: box;

  -webkit-box-align: start;
  -moz-box-align: start;
  box-align: start;

  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;

}