// Widget Newsletter (Plugin "MailChimp Widget")
// --------------------------------------------------
.widget_ns_mailchimp {
  .widget-title {
    background-color: $ippon-secondary;
    border-bottom: 1px solid lighten($ippon-secondary, 33%);;
    color: $light;
    margin-bottom: 0px !important;
    @include pre-icon("\e816", pxtoem($margin-icon));
    @include padding-base();
  }
  form {
    white-space: normal;
    max-width: 100%;
    @include aside-secondary();
    @include padding-base();
    input[type="submit"] {
      background-color: $gray;
      border: 0px;
      color: $light;
      vertical-align: top;
    }
  }
}

