// Plugin Simple Share Buttons Adder
// --------------------------------------------------

.content-teaser #ssba {
  display: none;
}

#ssba {
  &:before {
    // background-color: lighten($gray-light, 5%);
    content: 'Vous aimez ? Vous partagez !';
    display: block;
    font-size: $font-size-small;
    @include padding-top-large();
  }
  @include padding-vertical-large();
  a:hover {
    border: 0;
  }
  img {
    width : 0px !important;
  }
  [id^="ssba_"] {
    border-radius: 50%;
    color: $light;
    display: inline-block;
    font-size: 1em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
    @include margin-right-base();
    @include margin-top-base();
  }
  #ssba_twitter_share {
    background-color: $twitter-color;
    @include pre-icon("\e805", 0);
  }
  #ssba_facebook_share {
    background-color: $facebook-color;
    @include pre-icon("\e819", 0);
  }
  #ssba_google_share {
    background-color: $googleplus-color;
    @include pre-icon("\e802", 0);
  }
  #ssba_linkedin_share {
    background-color: $linkedin-color;
    @include pre-icon("\e804", 0);
  }
}