// Plugin Simple Share Buttons Adder
// --------------------------------------------------

.content-teaser #ssba {
  display: none;
}

#ssba {
  &:before {
    // background-color: lighten($gray-light, 5%);
    content: 'Vous avez aimé ? Vous partagez !';
    display: block;
    font-size: $font-size-h3-large;
    font-weight: 500;
    @include padding-top-large();
    background-color: $ippon-complementary-darker;
    color: $light !important;
    @include padding-base();
  }
  @include padding-vertical-large();
  a:hover {
    border: 0;
  }
  img {
    width : 0px !important;
  }

  @each $brand_def in $brand-list {
    $title: nth($brand_def, 1);
    $icon: nth($brand_def, 2);
    $colour: nth($brand_def, 3);
    #ssba_#{$title}_share {
      @include rs-rounded($icon, $colour);
    }
  }

  // [id^="ssba_"] {
  //   display: inline-block;    
  // }
  // #ssba_twitter_share {
  //   @include rs-rounded($twitter-icon, $twitter-color);
  // }
  // #ssba_facebook_share {
  //   @include rs-rounded($facebook-icon, $facebook-color);
  // }
  // #ssba_google_share {
  //   @include rs-rounded($googleplus-icon, $googleplus-color);
  // }
  // #ssba_linkedin_share {
  //   @include rs-rounded($linkedin-icon, $linkedin-color);
  // }
}