
@import "ippon-variables";

/*
Feuille de style factorisant les styles sur différentes pages
*/

////////////////////////////////////////////////////////////////////////
// Paddings
////////////////////////////////////////////////////////////////////////

/*
Cf :
- content.php
- category.php
*/

article .entry-content,
.entry-header h1,
.entry-thumbnail,
#content article footer,
.archive-header,
.nav-previous, .nav-next {
  @include padding-horizontal-base();
  @include padding-vertical-large();
}

.entry-content, .entry-thumbnail {
  text-align: justify;
}

////////////////////////////////////////////////////////////////////////
// Titres
////////////////////////////////////////////////////////////////////////

/*
Cf :
- content.php
- category.php
*/

a.menu-link,
.archive-header > h1.archive-title {
  text-transform: uppercase;
}
