
@import "ippon-variables";

/*
Feuille de style factorisant les styles sur différentes pages
*/

////////////////////////////////////////////////////////////////////////
// Paddings
////////////////////////////////////////////////////////////////////////

/*
Cf :
- content.php
- category.php
*/

#primary-content, #primary, #aside-content {
  @media (min-width: $screen-sm-min) {
    @include margin-vertical-large();
  }
}

article .entry-content,
.entry-header h1,
.entry-thumbnail,
//#content article footer,
.archive-header,
.nav-previous, .nav-next,
.page-content {
  @include padding-horizontal-base();
  @include padding-vertical-large();
}

.entry-content, .entry-thumbnail {
  text-align: justify;
}
.entry-content p, a{
	word-wrap: break-word;
}

////////////////////////////////////////////////////////////////////////
// Titres
////////////////////////////////////////////////////////////////////////

/*
Cf :
- content.php
- category.php
*/

a.menu-link,
.archive-header > h1.archive-title {
  text-transform: uppercase;
}
