
@import "ippon-variables";

/*
Feuille de style pour le contenu d'un article
*/

////////////////////////////////////////////////////////////////////////
// Paddings
////////////////////////////////////////////////////////////////////////

.site-content, .sidebar-inner {
  @include margin-vertical-large(); 
}
.site-content {
  background-color: $light;
  // @include padding-base();
  article.post {
    border-bottom: solid 1px $light;
    background-color: $gray-light;
    @include margin-vertical-large();
    @media (min-width: $screen-sm-min) {
      @include padding-vertical-base();
    }
    &:first-child {
      margin-top: 0;
    }
  }

  p {
    padding-top: $padding-base-vertical;
  }
}

#content {
  article {
    header .article-meta .secondary-meta,
    > div.entry-thumbnail,
    > div.entry-content,
    {
      display: none;
      @media (min-width: $screen-sm-min) {
        display: inherit;
      }
    }
    &:first-of-type {
      > div {
        display: inherit;
      }
    }
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      color: $ippon-complementary-darker;
    }
    .content-teaser {
      font-weight: bold;
    }
  }
}

.post-meta {
  background-color: $ippon-complementary;
  display: block;
  @media (min-width: $screen-sm-min) {
    // background-color: lighten($gray-light, 5%);
    // display: inline-block;
  }
  .main-meta {
    // background-color: $ippon-complementary;
    color: $light;
    // display: block;
    // @media (min-width: $screen-sm-min) {
      display: inline-block;
    // }
    a {
      color: $light;
      text-decoration: none;
    }
    .date-meta {
      border-bottom: 0;
      display: block;
      padding-right: $padding-small-horizontal;
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
      .day, .month-year {
        display: inline-block;
      }
      .month-year {
        @media (min-width: $screen-sm-min) {
          border-right: solid 1px;
          @include padding-horizontal-small();
        }
      }
      .day {
        font-size: pxtoem($font-size-meta);
        @media (min-width: $screen-sm-min) {
          font-size: pxtoem($font-size-meta * 2 * $line-height-base);
        }
      }
      .month, .year {
        display: inline-block;
        font-size: pxtoem($font-size-meta);
        text-transform: uppercase;
        @media (min-width: $screen-sm-min) {
          display: block;
        }
      }
    }
    .author {
      display: block;
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
      font-size: pxtoem($font-size-meta);
      text-transform: uppercase;
    }
  }
  .secondary-meta {
    
    vertical-align: top;
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
  }
}

.post-annex {
  background-color: $ippon-secondary;
  @media (min-width: $screen-sm-min) {
    background-color: lighten($gray-light, 5%);
  }
}


.post-meta-secondary {
  text-align: right;
  @include padding-vertical-base();
  @include meta-complementary();
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
  .post-goto {
    color: $light;
    display: block;
    // @include padding-vertical-base();
    text-transform: uppercase;
    a {
      color: $light;
    }
  }
}

// }