
@import "ippon-variables";

/*
Feuille de style pour le contenu d'un article
*/

#content {
  background-color: $gray-light;
  article {
    header .article-meta .secondary-meta,
    > div.entry-thumbnail,
    > div.entry-content,
    {
      display: none;
      @media (min-width: $screen-sm-min) {
        display: inherit;
      }
    }
    &:first-of-type {
      > div {
        display: inherit;
      }
    }
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
      color: $ippon-complementary-darker;
    }
    .content-teaser {
      font-weight: bold;
    }
  }
}


////////////////////////////////////////////////////////////////////////
// Paddings
////////////////////////////////////////////////////////////////////////

.sidebar-inner {
  // @include margin-vertical-large();
}
.site-content {
  background-color: $light;
  @media (min-width: $screen-sm-min) {
    // @include margin-vertical-large();
  }
  article.post {
    border-bottom: solid 1px $light;
    padding-top: 1px;
    @media (min-width: $screen-sm-min) {
      @include padding-vertical-base();
    }
    &:first-child {
      @include margin-vertical-none();
    }
  }

  p {
    padding-top: $padding-base-vertical;
  }
}

.post-meta {
  background-color: $ippon-complementary;
  display: block;
  @media (min-width: $screen-sm-min) {
    // background-color: lighten($gray-light, 5%);
    // display: inline-block;
  }
  .main-meta {
    // background-color: $ippon-complementary;
    color: $light;
    // display: block;
    // @media (min-width: $screen-sm-min) {
      display: inline-block;
    // }
    a {
      color: $light;
      text-decoration: none;
    }
    .date-meta {
      border-bottom: 0;
      display: block;
      padding-right: $padding-small-horizontal;
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
      .day, .month-year {
        display: inline-block;
      }
      .month-year {
        @media (min-width: $screen-sm-min) {
          border-right: solid 1px;
          @include padding-horizontal-small();
        }
      }
      .day {
        font-size: pxtoem($font-size-meta);
        @media (min-width: $screen-sm-min) {
          font-size: pxtoem($font-size-meta * 2 * $line-height-base);
        }
      }
      .month, .year {
        display: inline-block;
        font-size: pxtoem($font-size-meta);
        text-transform: uppercase;
        @media (min-width: $screen-sm-min) {
          display: block;
        }
      }
    }
    .author {
      display: block;
      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
      font-size: pxtoem($font-size-base);
      text-transform: uppercase;
    }
  }
  .secondary-meta {
    color: $light;
    vertical-align: top;
    @media (min-width: $screen-sm-min) {
      display: inline-block;
    }
    a {
      color: $light;
    }
  }
}

.post-annex {
  // @media (min-width: $screen-sm-min) {
  //   background-color: lighten($gray-light, 5%);
  // }
  display: inline-block;
}


.post-meta-secondary {
  text-align: right;
  @include meta-complementary();
  @media (min-width: $screen-sm-min) {
    text-align: left;
    @include padding-vertical-base();
  }
  .post-goto {
    color: $light;
    font-size: $font-size-base;
    display: block;
    // @include padding-vertical-base();
    text-transform: uppercase;
    @include padding-vertical-base();
    a {
      color: $light;
    }
  }
}


.centerImage {
  display: block;
  position: relative;
  width: 100%;
}



.player-btn {
  background-color: $ippon-secondary;
  color: $light;
  // color: $ippon-secondary;
  margin-top: 15%;
  opacity: 0.75;
  position: absolute;
  text-align: center;
  width: 100%;
  .fa-play {
    color: $light;
  }
}

