$color-header-rs: $gray;




.header-rs {
  color: $color-header-rs;
  display: -webkit-flex;
  display: flex;
  font-size: pxtoem(24px);
  -webkit-justify-content: space-between;
  justify-content: space-between;
  a {
    color: $color-header-rs;
    &:hover {
      border-bottom: 0;
    }
  }
}

.no-flexbox .header-rs {
  

    /* old syntax */
    display: -ms-flexbox;
    display: box;

    /* new syntax: */ 
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-between;
    justify-content: space-between;
    color: $color-header-rs;
  
    font-size: pxtoem(24px);
  
    a {
      color: $color-header-rs;
      &:hover {
        border-bottom: 0;
      }
    }
}