////////////////////////////////////////////////////////////////////////
// Définitions des couleurs
////////////////////////////////////////////////////////////////////////

$dark: #333333;
$light: #ffffff;
$gray: #ababab;
$gray-dark: #333333;
$gray-light: #e5e5e5;

$ippon-primary: #e42420;
$ippon-primary-lighter: #ec5d58;
$ippon-secondary: #fcc007;
$ippon-secondary-lighter: #fdcb15;
$ippon-complementary: #10b5c6;
$ippon-complementary-darker: #157187;

////////////////////////////////////////////////////////////////////////
// Surcharge des variables Bootstrap
////////////////////////////////////////////////////////////////////////
$font-size-base: 16px !default;
$headings-color: $ippon-complementary;
$link-color: $ippon-primary;
$link-hover-color: $ippon-primary-lighter;
// $grid-gutter-width: 0px !default;