@import "ippon-variables";

// ajoute un padding défini
@mixin padding-horizontal-base() {
  padding-left: $padding-base-horizontal;
  padding-right: $padding-base-horizontal;
}
@mixin padding-vertical-base() {
  padding-bottom: $padding-base-vertical;
  padding-top: $padding-base-vertical;
}
@mixin padding-base() {
  @include padding-horizontal-base();
  @include padding-vertical-base();
}

@mixin padding-horizontal-large() {
  padding-left: $padding-large-horizontal;
  padding-right: $padding-large-horizontal;
}
@mixin padding-vertical-large() {
  padding-bottom: $padding-large-vertical;
  padding-top: $padding-large-vertical;
}
@mixin padding-large() {
  @include padding-horizontal-large();
  @include padding-vertical-large();
}

@mixin padding-horizontal-small() {
  padding-left: $padding-small-horizontal;
  padding-right: $padding-small-horizontal;
}
@mixin padding-vertical-small() {
  padding-bottom: $padding-small-vertical;
  padding-top: $padding-small-vertical;
}
@mixin padding-small() {
  @include padding-horizontal-small();
  @include padding-vertical-small();
}

@mixin margin-horizontal-base() {
  margin-left: $padding-base-horizontal;
  margin-right: $padding-base-horizontal;
}
@mixin margin-vertical-base() {
  margin-bottom: $padding-base-vertical;
  margin-top: $padding-base-vertical;
}
@mixin margin-base() {
  @include margin-horizontal-base();
  @include margin-vertical-base();
}



@mixin meta-complementary() {
  background-color: $light;
  color: $gray;
  font-size: pxtoem($font-size-small);
  text-transform: uppercase;
  @include padding-base();
  @include margin-base();
  a {
    color: $gray;
  }
  i {
    color: $ippon-complementary;
  }
}

@mixin aside-secondary() {
  background-color: $ippon-secondary;
  color: lighten($ippon-secondary, 33%);
  a {
    color: lighten($ippon-secondary, 33%);
    &:hover {
      color: $light;
    }
  }
  @include padding-base();
}
@mixin aside-complementary-darker() {
  background-color: $ippon-complementary-darker;
  color: $light;
  @include padding-base();
}