@import "ippon-variables";

////////////////////////////////////////////////////////////////////////
// Paddings
////////////////////////////////////////////////////////////////////////

// mixins génériques
@mixin padding-horizontal($padding) {
  padding-left: $padding;
  padding-right: $padding;
}
@mixin padding-vertical($padding) {
  padding-bottom: $padding;
  padding-top: $padding;
}

// padding none
@mixin padding-horizontal-none() {
  @include padding-horizontal($padding-none-horizontal);
}
@mixin padding-vertical-none() {
  @include padding-vertical($padding-none-vertical);
}
@mixin padding-none() {
  @include padding-horizontal-none();
  @include padding-vertical-none();
}

// padding base
@mixin padding-horizontal-base() {
  @include padding-horizontal($padding-base-horizontal);
}
@mixin padding-vertical-base() {
  @include padding-vertical($padding-base-vertical);
}
@mixin padding-base() {
  @include padding-horizontal-base();
  @include padding-vertical-base();
}

// padding small
@mixin padding-horizontal-small() {
  @include padding-horizontal($padding-small-horizontal);
}
@mixin padding-vertical-small() {
  @include padding-vertical($padding-small-vertical);
}
@mixin padding-small() {
  @include padding-horizontal-small();
  @include padding-vertical-small();
}

// padding large
@mixin padding-horizontal-large() {
  @include padding-horizontal($padding-large-horizontal);
}
@mixin padding-vertical-large() {
  @include padding-vertical($padding-large-vertical);
}
@mixin padding-large() {
  @include padding-horizontal-large();
  @include padding-vertical-large();
}

////////////////////////////////////////////////////////////////////////
// Margins
////////////////////////////////////////////////////////////////////////

// mixins génériques
@mixin margin-horizontal($margin) {
  margin-left: $margin;
  margin-right: $margin;
}
@mixin margin-vertical($margin) {
  margin-bottom: $margin;
  margin-top: $margin;
}

// margin none
@mixin margin-horizontal-none() {
  @include margin-horizontal($margin-none-horizontal);
}
@mixin margin-vertical-none() {
  @include margin-vertical($margin-none-vertical);
}
@mixin margin-none() {
  @include margin-horizontal-none();
  @include margin-vertical-none();
}

// margin base
@mixin margin-horizontal-base() {
  @include margin-horizontal($margin-base-horizontal);
}
@mixin margin-vertical-base() {
  @include margin-vertical($margin-base-vertical);
}
@mixin margin-base() {
  @include margin-horizontal-base();
  @include margin-vertical-base();
}

// margin small
@mixin margin-horizontal-small() {
  @include margin-horizontal($margin-small-horizontal);
}
@mixin margin-vertical-small() {
  @include margin-vertical($margin-small-vertical);
}
@mixin margin-small() {
  @include margin-horizontal-small();
  @include margin-vertical-small();
}

// margin large
@mixin margin-horizontal-large() {
  @include margin-horizontal($margin-large-horizontal);
}
@mixin margin-vertical-large() {
  @include margin-vertical($margin-large-vertical);
}
@mixin margin-large() {
  @include margin-horizontal-large();
  @include margin-vertical-large();
}

////////////////////////////////////////////////////////////////////////
// 
////////////////////////////////////////////////////////////////////////

@mixin meta-complementary() {
  background-color: $light;
  // border: 1px solid $gray;
  color: $gray;
  font-size: pxtoem($font-size-small);
  text-transform: uppercase;
  @include padding-base();
  // @include margin-base();
  a {
    color: $gray;
  }
  i {
    color: $ippon-complementary;
  }
}

@mixin aside-secondary() {
  background-color: $ippon-secondary;
  color: lighten($ippon-secondary, 33%);
  a {
    color: lighten($ippon-secondary, 33%);
    &:hover {
      color: $light;
    }
  }
  @include padding-base();
}
@mixin aside-complementary-darker() {
  background-color: $ippon-complementary-darker;
  color: $light;
  @include padding-base();
}

// reprend les propriétés pour la typo Font Awesome
@mixin config-fa() {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin content-fa($content) {
  @include config-fa();
  content: $content + "  ";
}

@mixin pre-fa($content) {
  &:before {
    @include content-fa($content);
  }
}

