@import "ippon-variables";

////////////////////////////////////////////////////////////////////////
// Paddings
////////////////////////////////////////////////////////////////////////

@mixin padding-bottom($padding) {
  padding-bottom: $padding;
}
@mixin padding-left($padding) {
  padding-left: $padding;
}
@mixin padding-right($padding) {
  padding-right: $padding;
}
@mixin padding-top($padding) {
  padding-top: $padding;
}

// mixins génériques
@mixin padding-horizontal($padding) {
  @include padding-left($padding);
  @include padding-right($padding);
}
@mixin padding-vertical($padding) {
  @include padding-bottom($padding);
  @include padding-top($padding);
}

// padding none
@mixin padding-horizontal-none() {
  @include padding-horizontal($padding-none-horizontal);
}
@mixin padding-vertical-none() {
  @include padding-vertical($padding-none-vertical);
}
@mixin padding-none() {
  @include padding-horizontal-none();
  @include padding-vertical-none();
}

// padding base
@mixin padding-bottom-base() {
  @include padding-bottom($padding-base-vertical);
}
@mixin padding-left-base() {
  @include padding-left($padding-base-horizontal);
}
@mixin padding-right-base() {
  @include padding-right($padding-base-horizontal);
}
@mixin padding-top-base() {
  @include padding-top($padding-base-vertical);
}
@mixin padding-horizontal-base() {
  @include padding-horizontal($padding-base-horizontal);
}
@mixin padding-vertical-base() {
  @include padding-vertical($padding-base-vertical);
}
@mixin padding-base() {
  @include padding-horizontal-base();
  @include padding-vertical-base();
}

// padding small
@mixin padding-bottom-small() {
  @include padding-bottom($padding-small-vertical);
}
@mixin padding-left-small() {
  @include padding-left($padding-small-horizontal);
}
@mixin padding-right-small() {
  @include padding-right($padding-small-horizontal);
}
@mixin padding-top-small() {
  @include padding-top($padding-small-vertical);
}
@mixin padding-horizontal-small() {
  @include padding-horizontal($padding-small-horizontal);
}
@mixin padding-vertical-small() {
  @include padding-vertical($padding-small-vertical);
}
@mixin padding-small() {
  @include padding-horizontal-small();
  @include padding-vertical-small();
}

// padding large
@mixin padding-bottom-large() {
  @include padding-bottom($padding-large-vertical);
}
@mixin padding-left-large() {
  @include padding-left($padding-large-horizontal);
}
@mixin padding-right-large() {
  @include padding-right($padding-large-horizontal);
}
@mixin padding-top-large() {
  @include padding-top($padding-large-vertical);
}
@mixin padding-horizontal-large() {
  @include padding-horizontal($padding-large-horizontal);
}
@mixin padding-vertical-large() {
  @include padding-vertical($padding-large-vertical);
}
@mixin padding-large() {
  @include padding-horizontal-large();
  @include padding-vertical-large();
}

////////////////////////////////////////////////////////////////////////
// Margins
////////////////////////////////////////////////////////////////////////

@mixin margin-bottom($margin) {
  margin-bottom: $margin;
}
@mixin margin-left($margin) {
  margin-left: $margin;
}
@mixin margin-right($margin) {
  margin-right: $margin;
}
@mixin margin-top($margin) {
  margin-top: $margin;
}

// mixins génériques
@mixin margin-horizontal($margin) {
  @include margin-left($margin);
  @include margin-right($margin);
}
@mixin margin-vertical($margin) {
  @include margin-bottom($margin);
  @include margin-top($margin);
}

// margin none
@mixin margin-horizontal-none() {
  @include margin-horizontal($margin-none-horizontal);
}
@mixin margin-vertical-none() {
  @include margin-vertical($margin-none-vertical);
}
@mixin margin-none() {
  @include margin-horizontal-none();
  @include margin-vertical-none();
}

// margin base
@mixin margin-bottom-base() {
  @include margin-bottom($margin-base-vertical);
}
@mixin margin-left-base() {
  @include margin-left($margin-base-horizontal);
}
@mixin margin-right-base() {
  @include margin-right($margin-base-horizontal);
}
@mixin margin-top-base() {
  @include margin-top($margin-base-vertical);
}
@mixin margin-horizontal-base() {
  @include margin-horizontal($margin-base-horizontal);
}
@mixin margin-vertical-base() {
  @include margin-vertical($margin-base-vertical);
}
@mixin margin-base() {
  @include margin-horizontal-base();
  @include margin-vertical-base();
}

// margin small
@mixin margin-bottom-small() {
  @include margin-bottom($margin-small-vertical);
}
@mixin margin-left-small() {
  @include margin-left($margin-small-horizontal);
}
@mixin margin-right-small() {
  @include margin-right($margin-small-horizontal);
}
@mixin margin-top-small() {
  @include margin-top($margin-small-vertical);
}
@mixin margin-horizontal-small() {
  @include margin-horizontal($margin-small-horizontal);
}
@mixin margin-vertical-small() {
  @include margin-vertical($margin-small-vertical);
}
@mixin margin-small() {
  @include margin-horizontal-small();
  @include margin-vertical-small();
}

// margin large
@mixin margin-bottom-large() {
  @include margin-bottom($margin-large-vertical);
}
@mixin margin-left-large() {
  @include margin-left($margin-large-horizontal);
}
@mixin margin-right-large() {
  @include margin-right($margin-large-horizontal);
}
@mixin margin-top-large() {
  @include margin-top($margin-large-vertical);
}
@mixin margin-horizontal-large() {
  @include margin-horizontal($margin-large-horizontal);
}
@mixin margin-vertical-large() {
  @include margin-vertical($margin-large-vertical);
}
@mixin margin-large() {
  @include margin-horizontal-large();
  @include margin-vertical-large();
}

////////////////////////////////////////////////////////////////////////
// 
////////////////////////////////////////////////////////////////////////

@mixin meta-complementary() {
  // background-color: $light;
  // border: 1px solid $gray;
  color: $gray;
  font-size: pxtoem($font-size-small);
  text-transform: uppercase;
  // @include padding-base();
  // @include margin-base();
  a {
    color: $gray;
  }
  i {
    color: $light;
  }
}

@mixin aside-secondary() {
  background-color: $ippon-secondary;
  color: lighten($ippon-secondary, 33%);
  a {
    color: lighten($ippon-secondary, 33%);
    &:hover {
      color: $light;
    }
  }
}
@mixin aside-complementary-darker() {
  background-color: $ippon-complementary-darker;
  color: $light;
  @include padding-base();
}

// reprend les propriétés pour la typo Font Awesome
@mixin config-icon() {

  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  // width: 1em;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  // font-family: FontAwesome;
  // font-style: normal;
  // font-weight: normal;
  // line-height: 1;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

@mixin content-icon($content) {
  @include config-icon();
  content: $content + "  ";
}

@mixin pre-icon($content, $margin-right) {
  &:before {
    margin-right: $margin-right;
    @include content-icon($content);
  }
}

@mixin img-responsive($display: block) {
  display: $display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}

@mixin block-colorized($color) {
  background-color: $color;
  color: $light;
  display: block;
  font-size: $font-size-large;
  text-transform: uppercase;
  @include padding-large();
}

@mixin img-background($width, $height, $img, $img-2x) {
  background-image: url('img/' + $img);
  background-size: 100%;
  //background-size: $width $height;  
  height: $height;
  width: $width;
  @include device-resolution(retina) {
    background-image: url('img/' + $img-2x);
  }
}

@mixin device-resolution($resolution) {
  @if $resolution == classic {
    @media screen and (-webkit-min-device-pixel-ratio: 1) { @content; }
  }
  @if $resolution == retina {
    @media screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
  }
}





