@import "ippon-variables";

.header-banner {
  @include padding-vertical-large();
}

.menu-search {
  @media (min-width: $screen-sm-min) {
    background-color: $gray-dark;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.home-link, a.menu-link {
  @include padding-large();
}

.home-link {
  align-self: center;
  background-color: $ippon-secondary;
  a {
    color: $light;
    text-decoration: none;
    &:hover {
      color: $dark;
    }
  }
}

.search-link {
  align-self: center;
  margin-left: auto;
  @include padding-base();
}

a.menu-link {
  // background-color: $ippon-primary;
  background-color: $ippon-secondary;
  color: $light;
  display: block;
  font-size: $font-size-large;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
  @include pre-fa("\f0c9");
}

.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}

nav[role=navigation].active {
  max-height: 30em;
}

nav[role=navigation] {
  background-color: $gray-dark;
  clear: both;
  -webkit-transition: all 0.5s ease-out;  
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid $gray-light;
  }
  li {
    a {
      border-bottom: 1px solid $gray-light;
      color: $light;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      @include padding-large();
      &:hover {
        background-color: $ippon-secondary;
        color: $dark;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .js nav[role=navigation] {
    max-height: none;
  }
  nav[role=navigation] {
    ul {
      margin: 0 0 0 0.25em;
      border: 0;
    }
    li {
      display: inline-block;
      margin: 0 0.25em;
      a {
        border: 0;
      }
    }
  }
}
