
@import "ippon-variables";

////////////////////////////////////////////////////////////////////////
// Bannière
////////////////////////////////////////////////////////////////////////
.header-banner {
  @include padding-vertical-large();
}


////////////////////////////////////////////////////////////////////////
// Navigation principale
////////////////////////////////////////////////////////////////////////
.menu-search {
  @media (min-width: $screen-sm-min) {
    background-color: $gray-dark;
  }
}
.menu {
  @media (min-width: $screen-sm-min) {
    display: inline-block;
  }
}

.search-link {
  @include padding-vertical-small();
}

a.menu-link {
  @include block-colorized($ippon-secondary);
  &:hover {
    text-decoration: none;
  }
  // @include pre-icon("\e808", 0);
}

.js nav#menu {
  overflow: hidden;
  max-height: 0;
}

nav#menu.active {
  max-height: 30em;
}

nav#menu {
  background-color: $gray-dark;
  clear: both;
  -webkit-transition: all 0.5s ease-out;  
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid $gray-light;
  }
  li {
    &:first-child {
      // background-color: $ippon-secondary;
      white-space:nowrap;
    }
    &.current-menu-item {
      background-color: $ippon-secondary;
    }
    a {
      border-bottom: 1px solid $gray-light;
      color: $light;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      @include padding-large();
      &:hover {
        background-color: $ippon-secondary;
        color: $dark;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .js nav#menu {
    max-height: none;
  }
  nav#menu {
    display: inline;
    ul {
      border: 0;
    }
    li {
      display: inline-block;
      a {
        border: 0;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////
// Navigation de pagination
////////////////////////////////////////////////////////////////////////
.nav-links {
  .nav-previous, .nav-next {
    font-size: $font-size-large;
    @include margin-vertical-large();
    @media (min-width: $screen-sm-min) {
      font-size: $font-size-small;
      @include margin-vertical-none();
    }
    a {
      color: $gray;
      text-decoration: none;
      &:hover {
        color: $gray-dark;
      }
    }
  }
}
