

// SIDEBAR
// --------------------------------------------------

.sidebar-inner {
  .widget-title {
    font-size: pxtoem($font-size-large);
    text-transform: uppercase;
  }
}

// Widget custom pour afficher les liens des réseaux sociaux Ippon
// --------------------------------------------------
.widget_ippon_rs {
  display: flex;
  font-size: pxtoem(24px);
  justify-content: space-between;
  @include aside-secondary();
}

// Widget custom pour Eventbrite
// --------------------------------------------------
.eb_event_list {
  display: block;
  .eb_event_list_item {
    background-color: lighten($gray-light, 5%);
    @include margin-vertical-large();
    .info-item {
      @include padding-base();
      h2 {
        color: $gray-dark;
        font-size: $font-size-h2;
        @include margin-none();
        @include padding-vertical-base();
        a {
          text-decoration: none;
        }
      }
      .author {
        color: $gray;
        font-size: pxtoem($font-size-meta);
        text-transform: uppercase;
      }
    }

    .main-item {
      background-color: $gray;
      color: $light;
      display: block;
      @include padding-base();
      a {
        color: $light;
        text-decoration: none;
      }
      .date-item {
        border-bottom: 0;
        display: inline-block;
        padding-right: $padding-small-horizontal;
        .day, .month-year {
          display: inline-block;
        }
        .month-year {
          @media (min-width: $screen-sm-min) {
            border-right: solid 1px;
            @include padding-horizontal-small();
          }
        }
        .day {
          font-size: pxtoem($font-size-meta);
          @media (min-width: $screen-sm-min) {
            font-size: pxtoem($font-size-meta * 2 * $line-height-base);
          }
        }
        .month, .year {
          display: inline-block;
          font-size: pxtoem($font-size-meta);
          text-transform: uppercase;
          @media (min-width: $screen-sm-min) {
            display: block;
          }
        }
      }
      .ippevent {
        display: inline-block;
        font-size: pxtoem($font-size-meta);
        text-transform: uppercase;
      }
    }
  }
}

// Widget custom pour afficher les liens des annonces Ippon
// --------------------------------------------------
.widget_ippon_board {
  a {
    text-decoration: none;
  }
  h3 {
    font-size: pxtoem(18px);
    margin-bottom: 0px;
    text-transform: uppercase;
    @include aside-complementary-darker();
    @include pre-fa("\f0a1");
    @media (min-width: $screen-sm-min) {
      margin-bottom: ($line-height-computed / 2);
    }
  }
  p, .board-info {
    @include padding-horizontal-base();
  }
  p {
    font-size: pxtoem($font-size-small);
  }
  .board-info {
    background-color: $ippon-complementary-darker;
    color: $light;
    @include padding-vertical-base();
  }
}

// Widget Twitter (Plugin "Twitter Widget Pro")
// --------------------------------------------------
@include responsive-invisibility('.widget_twitter');
@media (min-width: $screen-sm-min) {
  @include responsive-visibility('.widget_twitter');
}
.widget_twitter {
  ul {
    color: $gray;
    padding-left: 0;
    list-style: none;
    > li {
      font-size: pxtoem($font-size-small);
      margin-bottom: $padding-base-vertical;
      margin-left: $padding-base-horizontal;
      margin-right: $padding-base-horizontal;
      margin-top: $padding-base-vertical;
      border-bottom: 1px solid $gray-light;
      @include padding-vertical-base();
    }
  }
  .widget-title {
    background-color: $ippon-complementary;
    color: $light;
    @include padding-base();
    @include pre-fa("\f099");
  }
}

// Widget Tags (Plugin  natif "Tag cloud")
// --------------------------------------------------
// @include responsive-invisibility('.widget_tag_cloud');
// @media (min-width: $screen-sm-min) {
//   @include responsive-visibility('.widget_tag_cloud');
// }
.widget_tag_cloud {
  h3 {
    @include aside-complementary-darker();
    @include pre-fa("\f02b");
  }
  .tagcloud {
    font-size: pxtoem(28px);
    @include meta-complementary();
  }
}
