

// FOOTER
// --------------------------------------------------

footer.main-footer {
  background-color: $gray;
  color: $gray-light;
  font-size: pxtoem($font-size-base);
  @media (min-width: $screen-sm-min) {
    padding-left: $padding-large-horizontal;
    padding-right: $padding-large-horizontal;
  }
  text-align: center;
  a {
    color: $gray-light;
    text-decoration: none;
    &:hover {
      color: $light;
    }
  }
  .accounts-links, .friends-links {
    border-bottom: 1px solid $gray-light;
    @include padding-vertical-large();
    a {
      @include padding-large();
      @media (min-width: $screen-sm-min) {
        @include padding-horizontal-base();
      }
      &:hover {
        border-bottom: 0;
      }
    }
  }
  .accounts-links {
    a {
      font-size: pxtoem($font-size-large);
    }
  }
  .friends-links {
    a {
      display: block;
      @media (min-width: $screen-sm-min) {
        display: inline;
      }
    }
  }
  .copyrights {
    font-size: pxtoem($font-size-small);
    padding: $padding-base-horizontal;
  }
}