@import "ippon-variables";

@import "bootstrap-sass/bootstrap";

@import "functions";
@import "mixins";

@import "archive";
@import "commons";
@import "content";
@import "navigation";
@import "type";

@import "style-footer";
@import "style-sidebar";

img {
  @include img-responsive();
}

a.calltoaction {
  color: $light;
  background-color: $ippon-secondary;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
  @include padding-large();
  @media (min-width: $screen-sm-min) {
    color: $ippon-complementary;
    background-color: inherit;
    font-size: $font-size-base;
    text-transform: none;
    @include padding-none();
  }
}



a.next {
  @include pre-fa("\f0da");
}

header.entry-header {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}


// h1.entry-title {
//   font-size: pxtoem(24px);
// }
.site-content, .sidebar-inner {
  @include margin-vertical-large(); 
}
.site-content {
  background-color: $light;
  // @include padding-base();
  article {
    border-bottom: solid 1px $light;
    background-color: $gray-light;
    @include padding-vertical-base();
    @include margin-vertical-large();
    &:first-child {
      margin-top: 0;
    }
  }

  p {
    padding-top: $padding-base-vertical;
  }
}

// 
// --------------------------------------------------
.container-fluid {
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}


body {
  background-color: $light;
}

.color-primary {
  color: $ippon-primary;
}
.color-secondary {
  color: $ippon-secondary;
}
.color-complementary {
  color: $ippon-complementary;
}
