
@import "ippon-variables";

/*
Feuille de style pour les types
*/

////////////////////////////////////////////////////////////////////////
// Liens
////////////////////////////////////////////////////////////////////////

a {
  &:hover {
    text-decoration: none;
    border-bottom: 1px dotted;
  }
}

////////////////////////////////////////////////////////////////////////
// Titres
////////////////////////////////////////////////////////////////////////


@media (min-width: $screen-sm-min) {
  h1, .h1 { font-size: $font-size-h1-large; }
  h2, .h2 { font-size: $font-size-h2-large; }
  h3, .h3 { font-size: $font-size-h3-large; }
  h4, .h4 { font-size: $font-size-h4-large; }
  h5, .h5 { font-size: $font-size-h5-large; }
  h6, .h6 { font-size: $font-size-h6-large; }
}

h1,
h2,
h3 {
  // @include margin-vertical-small();
  // @include margin-none();
  margin-bottom: 0;
  margin-top: $margin-small-vertical;
}

h4,
h5,
h6 {
  @include margin-none();
}

