
.icon-tag:before { content: '\e809'; } /* '' */
.icon-up-open:before { content: '\e811'; } /* '' */
.icon-rss:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e817'; } /* '' */
.icon-down-dir:before { content: '\e815'; } /* '' */
.icon-up-dir:before { content: '\e814'; } /* '' */
.icon-left-dir:before { content: '\e813'; } /* '' */
.icon-right-dir:before { content: '\e812'; } /* '' */
.icon-play:before { content: '\e80d'; } /* '' */
.icon-award:before { content: '\e808'; } /* '' */
.icon-circle:before { content: '\e800'; } /* '' */
.icon-megaphone:before { content: '\e80b'; } /* '' */
.icon-tags:before { content: '\e80a'; } /* '' */
.icon-gplus:before { content: '\e802'; } /* '' */
.icon-linkedin:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-youtube:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-paper-plane-1:before { content: '\e816'; } /* '' */
.icon-vimeo:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e810'; } /* '' */
.icon-left-open:before { content: '\e80f'; } /* '' */
.icon-right-open:before { content: '\e80e'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */